
.a1{
    margin-top: 20px;
    margin-left: 550px;
}
.a2{
    margin-top: 25px;
    margin-left: 550px;
}
.a1{
    background: url("/img/chart-2779162_1920.jpg");
    height: 300px;
    margin-top: 20px;
    padding-right: 450px;
    padding-top: 50px;
    padding-left: 50px;
}
.text1{
    margin-top: 50px;
}
.b2{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.text-center {
  margin-top: 30px;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .card-text{
    width: 200px; 
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80px;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .register-body{
    background-color: #101010;
    background-repeat: no-repeat;
    background-size: cover;

}

.registration{
    padding: 110px 30%;
    height: 100%;
    min-height: 100vh;
}

.register-form h1{
    font-size: 80px;
    color: white;
    margin-bottom: 20px;
}
.register-form h1 span{
    color: #fc0050;
}

.register-form{
    color: black;
    font-size: 20px;
}

.register-form form input{
    color: white;
    padding: 17px;
    background-color: #191919;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.register-form h4{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    color: #fc0050;
}


.register-form form .submitbtn{
    display: inline-block;
    background-color: #fc0050;
    font-size: 27px;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 60px;
    width: 220px;
    cursor: pointer;
    transition: ease 0.30s;
}

.register-form form .submitbtn:hover{
    border: 2px solid #fc0050;
    background-color: transparent;
    transform: scale(1.1);
}

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    padding: 10px;
  }